# .gitignore
backend/ut/
backend/runs/
.vscode/
backend/build/
backend/result1/
backend/result/
*.pyc
backend/plate/
backend/wan/
backend/label_imgs/*
backend/pretrained_model/
backend/cfg1/
backend/data/dataset_fix/*

backend/data/dataset_fix/images/
*.jpg
!*.mp3
*.jpg
*.png
*.jpg
